h1 {
    font-size: 64px;
    font-weight: bold;
    color: brown;
}
table, th, td, caption {
    border: 1px solid black;
  }

.day {
    background-color: #f7f7f7;
    width: 950px;
    margin: 0 auto 16px;
    border-radius: 12px;
    padding: 16px;
}  
.day-title{
    font-family: sans-serif;
}
#table1{
    margin: 0 auto;
}
