h1 {
    font-size: 64px;
    font-weight: bold;
    color: brown;
}
table, th, td, caption {
    border: 1px solid black;
  }

.day {
    padding: 7px;
    background-color: #ececec;
    width: 950px;
    margin: 0 auto 16px;
    border-radius: 12px;
}  
.day-title{
    font-family: sans-serif;
}
